<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!--测试后置处理器-->
	<bean id="beanPostProcessorTest" class="com.shayne.test.BeanPostProcessorTest"/>

	<!--测试initializingBean-->
	<bean id="initializingBeanTest" class="com.shayne.test.InitializingBeanTest"
	    init-method="setOtherName">

		<property name="name" value="Shayne"/>
	</bean>

	<!--测试Bean生命周期-->
	<bean id="lifeCycle" class="com.shayne.test.LifeCycleBean"
		  init-method="initMethod" destroy-method="destroyMethdo">
		<property name="test" value="test"/>
	</bean>

	<!--BeanFactoryPostProcessor主要是修改BeanDefinition-->
	<bean id="studentService" class="com.shayne.test.StudentService">
		<property name="name" value="shayne"/>
		<property name="age" value="10"/>
	</bean>
	<bean class="com.shayne.test.BeanFactoryPostProcessorA"/>
	<bean class="com.shayne.test.BeanFactoryPostProcessorB"/>
</beans>