<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--注册Converter-->
	<bean id="conversionService"
		  class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="studentConversionService"/>
			</set>
		</property>
	</bean>

	<!--自定义的Converter会将String->StudentService-->
	<bean id="studentConversionService" class="com.shayne.test.StudentConversionService"/>

	<bean id="student" class="com.shayne.test.StudentService">
	     <property name="studentService" value="18#customConverter"/>
	</bean>
</beans>